@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Nunito Sans';
  src: url('../public/fonts/NunitoSans-variable.ttf');
}

@font-face {
  font-family: 'Manrope';
  src: url('../public/fonts/Manrope-variable.ttf');
}

/* @layer base {
  body {
    @apply bg-gray-900 text-white;
  }
}

@layer components {
  .btn-blue {
    @apply text-white font-bold px-4 py-2 rounded bg-blue-600 hover:bg-blue-500;
  }
} */
